In [9]:
import pandas as pd

In [10]:
allData = pd.read_parquet('../data/shiftedDates/cleanedTotal.parquet')
duplicat = allData[allData.duplicated(subset='measurementDate', keep=False)]
duplicat

           measurementDate  waterFlowPerMinute
436407 2021-10-31 01:59:00        2.123601e+05
436408 2021-10-31 01:59:00        1.526537e+06
436410 2021-10-31 02:01:00        1.507741e+06
436411 2021-10-31 02:01:00        1.749695e+06
436413 2021-10-31 02:03:00        1.723707e+06
...                    ...                 ...
436492 2021-10-31 02:55:00        1.642911e+06
436494 2021-10-31 02:57:00        1.594648e+05
436495 2021-10-31 02:57:00        1.350778e+06
436496 2021-10-31 02:58:00        1.401020e+06
436497 2021-10-31 02:58:00        1.169958e+06

[62 rows x 2 columns]

In [11]:
import numpy as np
total = pd.read_csv('../data/Total_influent_flow_WWTP_Ede_2021_minute_data.csv', sep=';')
total.drop(columns=['wwResolution'],inplace=True)
total['DateTime'] = pd.to_datetime(total['DateTime'],format='%d-%m-%Y %H:%M')
total.rename(columns={'EDE_09902MTW_K100.MTW':'waterFlowPerMinute','DateTime':'measurementDate'}, inplace=True)

total['waterFlowPerMinute'] = total['waterFlowPerMinute'].str.replace(',','.').replace('(null)', np.nan)
total['waterFlowPerMinute'] = total['waterFlowPerMinute'].astype('float')
total['waterFlowPerMinute'] = total['waterFlowPerMinute'].apply(lambda row: row*1000)
total.sort_values(by='measurementDate', inplace=True)
total.reset_index(drop=True, inplace=True)

total.iloc[436379:]
# duplicat = total[total.duplicated(subset='measurementDate', keep=False)]
# duplicat

           measurementDate  waterFlowPerMinute
436379 2021-10-31 02:00:00        1.063913e+06
436380 2021-10-31 02:01:00        1.507741e+06
436381 2021-10-31 02:02:00        1.801657e+06
436382 2021-10-31 02:03:00        1.723707e+06
436383 2021-10-31 02:04:00        1.497137e+06
...                    ...                 ...
525594 2021-12-31 23:55:00        9.076168e+05
525595 2021-12-31 23:56:00        1.763518e+05
525596 2021-12-31 23:57:00        1.135576e+05
525597 2021-12-31 23:58:00        1.879509e+05
525598 2021-12-31 23:59:00        5.116984e+05

[89220 rows x 2 columns]